#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: #000000;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
  margin-bottom: 100px;

}

#header .logo {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #fffcfc;
  font-family: Serif;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;

}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #fffcfc;
  transition: 0.3s ease;
}

#navbar li a.about {
  color: #eb9e10;
}

#navbar li a:hover,
#navbar li a.active {
  color: #eb9e10;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background-color: #eb9e10;
  position: absolute;
  bottom: -4px;
  left: 20px;
}
 .banner-card {
   position: relative;
 }

 .banner-card img {
   width: 1350px;
   height: 250px;
 }

 .banner-text h2 {
   position: absolute;
   top: 50;
   right: 60;
   left: 60;
   font-weight: bold;
   font-size: xx-large;
   color: white;
   padding: 20;
   text-align: center;
 }

 .banner-text p {
   position: absolute;
   top: 140;
   right: 60;
   left: 60;
   font-size: small;
   color: white;
   text-align: center;
 }

 .a-6 h3 {
   display: flex;
   align-items: center;
 }

 .a-6 {

   align-items: center;
   display: flex;
 }

 .a-6 img {
   width: 50%;
   height: auto;

 }

 .app h4 {
   text-align: center;
   font-size: xx-large;
   font-weight: bolder;
 }

 .app video {
   width: 100%;
   height: 80%;

 }
h2{
    position: absolute;
    bottom: 110;
right:150;
left: 800;
font-weight: bold;
font-size:xx-large;
color: rgb(0, 0, 0) ;
padding: 20;
text-align: center;

}
