table{
        border-collapse: collapse;
        width: 95%;
        table-layout: fixed;
        border: 2px solid black;
        margin-left: auto;
        margin-right: auto;
}
th{
    font-weight: 700;
    background: #fd8c66;
    color: #fff;
    border: none;
    padding: 6px 0;
}
td
{
    text-align: center;
}
.coupon
{
    text-align: left;
    padding: 10px;
}
.table2
{
   width: 40%;
    margin-left: 37px;
    float: left
}
}
.buttonss
{
    text-align: center;
    padding: 15px;
    margin: 5px;
    background-color: #fd8c66;
}
.table3
{
    width: 50%;
    float: right;
    margin-right: 37px;
    margin-bottom: 10px;
}
.header
{
    text-align: left;
    padding: 10px;
}
.price
{
    text-align: right;
    padding: 10px;
}



