#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #000000;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;

}

#header .logo {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #fffcfc;
    font-family: Serif;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;

}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #fffcfc;
    transition: 0.3s ease;
}

#navbar li a.shop {
    color: #eb9e10;
}

#navbar li a:hover,
#navbar li a.active {
    color: #eb9e10;
    text-decoration: none;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background-color: #eb9e10;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;

}
.Registeration{
    width: 330px;
    padding: 2rem 1rem;
    height: 570px;
    margin: 50px auto;
    text-align: center;
    box-shadow: 0 20px 35px #eb9e10;
    background-color: #eb9e10;
    border-radius: 3px;
    
}
h1{
    text-align: center;
    padding: 1px;
    font-size: 2rem;
    color: #000000;
    margin-bottom: 1.2rem;
}
form{
    width: 300px;
    margin-left: 0px;
}


form input
{
    width: 92%;
    border: 1px solid #fff; 
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    border:1px solid #eb9e10;
    outline: none;
    background: #fcfcfc;
}
p{
    text-align: center; 
    padding-top: 20px;
    font-size: 15px;
}
.terms
{
    margin-top: 0.2rem;
}
.terms input
{
    height: 1rem;
    width: 1rem;
    vertical-align: middle;
    cursor: pointer;
}
.terms label{
font-size: 0.7rem;
}
.terms a{
    color: black;
    text-decoration: none;
}
.member
{
    font-size: 0.8rem;
    margin-top: 1.4rem;
    color: #000000;

}

.site-footer {
    background-color: #26272b;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5
}

.site-footer hr.small {
    margin: 20px 0
}

.site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
}

.site-footer a {
    color: #737373;
}

.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links li {
    display: block
}

.footer-links a {
    color: #737373
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

.site-footer .social-icons {
    text-align: right
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d
}

.copyright-text {
    margin: 0
}

@media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px
    }
}

@media (max-width:767px) {
    .site-footer {
        padding-bottom: 0
    }

    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center
    }
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}

.social-icons a.facebook:hover {
    background-color: #3b5998
}

.social-icons a.twitter:hover {
    background-color: #00aced
}

.social-icons a.linkedin:hover {
    background-color: #007bb6
}

.social-icons a.dribbble:hover {
    background-color: #ea4c89
}

@media (max-width:767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
}
.err{
    color: red;
}
